.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: $cor-primaria;

            &:hover {
                color: $cor-secundaria;
            }
        }
    }
}

nav {
    background-color: #152614;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #46823E;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #46823E;
    color: #152614;
}

.content {
    padding: 20px;
}